<ion-header>
  <ion-toolbar>
    <ion-title class="" style=" color: var(--ion-color-danger-shade); font-weight: bold">
      Categoriass</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Actualizar Categorias"
      refreshingSpinner="circles"
      refreshingText="Actualizando....."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="container" style="min-height: 100%">
    <div class="text-center" *ngFor="let item of data">
      <ion-card color="tertiary" (click)="routeNavigate(item.id)">
        <ion-card-content>
        <small>{{item.name}}</small>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="data.length===0" class="d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column align-items-center">
        <ion-icon color="medium" name="cloud-offline" style="font-size: 8rem"></ion-icon>
        <small class="text-center" style="font-size: 0.9rem; font-weight: bold; color: #92949C">Sin conexión.</small>
      </div>
    </div>
  </div>
</ion-content>




