<ion-header>
  <ion-toolbar>
    <ion-title>Editar</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()"><ion-icon name="arrow-back-circle"></ion-icon>&nbsp;Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="commentss">
    <ion-input class="input" placeholder="Agregar Comentario..." [formControl]="comentario"></ion-input>
  </div>
  <div class="d-flex justify-content-end px-2">
    <ion-button size="small" color="light" (click)="cancel()">cancelar</ion-button>
    <ion-button size="small" color="danger" (click)="actualizarComentario()">Actualizar</ion-button>
  </div>
</ion-content>
