<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()"><ion-icon name="arrow-back-circle" style="font-size: 2rem"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Políticas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="my-4">
      <span><strong>1. Política de Privacidad</strong></span><br>
      <div class="mx-4 my-1">
        <small>Información recopilada:</small>
        <p >
          Recopilamos información limitada necesaria para proporcionar y mejorar nuestros servicios. Esto puede incluir datos como el nombre de usuario y la dirección de correo electrónico.
        </p>
      </div>
      <div class="mx-4">
        <small>Uso de la información:</small>
        <p >
          La información recopilada se utiliza para personalizar la experiencia del usuario, mejorar nuestros servicios y enviar actualizaciones relevantes.
        </p>
      </div>
      <div class="mx-4">
        <small>Protección de la información:</small>
        <p >
          Implementamos medidas de seguridad para proteger la información del usuario, incluyendo el cifrado de datos y prácticas seguras de almacenamiento.
      </div>
      <div class="mx-4">
        <small>Compartir información:</small>
        <p >
          No compartimos información personal con terceros sin el consentimiento del usuario, excepto cuando sea necesario para cumplir con requisitos legales.
      </div>
    </div>
    <div class="my-4">
      <span><strong>2. Términos y Condiciones:</strong></span><br>
      <div class="mx-4 my-1">
        <small>Condiciones de uso:</small>
        <p>
          Al utilizar nuestra aplicación, aceptas cumplir con estas condiciones y cualquier legislación aplicable. No está permitido el uso indebido de la aplicación.
        </p>
      </div>
      <div class="mx-4">
        <small>Propiedad intelectual:</small>
        <p>
          Todo el contenido de la aplicación, incluyendo las historias de terror, está protegido por derechos de autor. No se permite la reproducción no autorizada.
        </p>
      </div>
      <div class="mx-4">
        <small>Limitaciones de responsabilidad:</small>
        <p>
          No nos hacemos responsables de cualquier daño directo o indirecto causado por el uso de nuestra aplicación.
        </p>
      </div>
    </div>
    <div class="my-4">
      <span><strong>3. Políticas de la Aplicación:</strong></span><br>
      <div class="mx-4 my-1">
        <small>Contenido sensible:</small>
        <p>
          Esta aplicación contiene historias de terror. Se recomienda para usuarios mayores de 13 años. El acceso a contenido explícito puede requerir verificación de edad.
        </p>
      </div>
      <div class="mx-4">
        <small>Interacción del usuario:</small>
        <p>
          Se prohíbe cualquier forma de acoso, discriminación o comportamiento inapropiado en la aplicación. Los usuarios que violen estas normas serán suspendidos.
        </p>
      </div>
      <div class="mx-4">
        <small>Actualizaciones:</small>
        <p>
          Periodicamente actualizaremos la aplicación para mejorar el rendimiento y agregar nuevas funciones. Asegúrate de tener la última versión para disfrutar de la mejor experiencia.
        </p>
      </div>
    </div>
  </div>
</ion-content>
